<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607969082661-uf7r3m310umu9o8m8athrhu5eh3uoadf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607969082661-uf7r3m310umu9o8m8athrhu5eh3uoadf</string>
	<key>API_KEY</key>
	<string>AIzaSyAK-vKuVLNthwe3P37i0VBpPwSQqDbF3Oo</string>
	<key>GCM_SENDER_ID</key>
	<string>607969082661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wakie.wakiewakie</string>
	<key>PROJECT_ID</key>
	<string>wakie-wakie-84090</string>
	<key>STORAGE_BUCKET</key>
	<string>wakie-wakie-84090.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607969082661:ios:928640b579179d6eaa2ecc</string>
</dict>
</plist>